@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color:#FBE7C6;
    text-align: center;
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
    background-image: url(/css/img/fondo.jpg);
}
    
.cat{
    background-color: rgb(172, 94, 94);
    height: 120px;
    width: 50px;
    position:absolute;
    top: 6.3rem;
    right: 17rem;
    border-radius: 40px 40px 0 0;
}
.cat:before{
    content:"";
    position: absolute;
    background-color: rgb(172, 94, 94);
    height: 80px;
    width: 40px;
    border-radius: 0 80px 80px 0;
    bottom: 0;
    left: 43px;
}
.cat:after{
    content: "";
    position: absolute;
    background-color: rgb(172, 94, 94);
    height: 80px;
    width: 10px;
    border-radius: 5px;
    bottom: -70px;
    left: 45px;
    transform: rotate(-15deg);
    transform-origin: top;
    animation: tail 4s infinite;
}
@keyframes tail{
    50%{
        transform: rotate(10deg);
    }
}
.ear{
    height: 0;
    width: 0;
    border-bottom: 40px solid rgb(172, 94, 94);
    border-right: 33px solid transparent;
    position: relative;
    bottom: 12px;
}
.ear:before{
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 40px solid rgb(172, 94, 94);
    border-left: 33px solid transparent;
    bottom: -40px;
    left: 17px;

}
h1{
    background-color: #ffaebbd7;
    color: white;
    font-size: 90px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#menu ul{
    list-style: none;
    margin: 10;
    padding: 10;
    text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: white;
    text-decoration: none;
    font-size:35px;
    background-color: #a0e7e588;
    display: block;
    padding: 13px;
    font-family: 'Fredoka One', cursive;
}
#menu ul li a:hover{
    background-color: #A0E7E5;
}



.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #A0E7E5;
    text-decoration: none;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 10px;

}
.gatitos{
    border: 15px;
    margin: 15px;
    background-color: wheat;
}
