
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color:#FBE7C6;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(/css/img/fondo.jpg);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1{
    background-color: #ffaebbd7;
    color: white;
    font-size: 90px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
#menu ul{
    list-style: none;
    margin: 10;
    padding: 10;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: white;
    text-decoration: none;
    font-size:35px;
    background-color: #a0e7e588;
    display: block;
    padding: 13px;
    font-family: 'Fredoka One', cursive;
}
#menu ul li a:hover{
    background-color: #A0E7E5;
}